{{ $recent := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
{{ $recent_num := (5 | default 10) }}
{{- if $recent }}
<div class="bg-white panel mb-3 pb-5 dark:bg-warmgray-900">
    <p class="text-xl text-center text-gray-700 py-5 dark:text-gray-300 font-bold">Recent Posts</p>
    <div class="mx-6">
        {{- range first $recent_num $recent }}
        <a href="{{ .RelPermalink }}" class="">
            <div
                class="w-full block mt-3 bg-white hover:bg-gray-100 duration-200 dark:bg-warmgray-900 dark:text-gray-200 dark:hover:bg-warmgray-800">
                <div class="px-2">
                    <div class="text-gray-900 font-bold text-xl dark:text-white">{{.Title}}</div>
                    <p class="text-sm text-gray-600 flex items-center pb-1 dark:text-gray-400">
                        <time><span class="icon-access_time mr-1"></span>{{.Date.Format "2006/01/02"}}</time>
                    </p>
                </div>
            </div>
        </a>
        {{- end }}
    </div>
</div>
{{- end }}
