{{ define "header_css" }}{{ end }}

{{ define "main" }}
<div class="grid grid-cols-3 gap-4">
    <div class="bg-white col-span-3 lg:col-span-2 p-5">
        <h1 class="title text-4xl">{{.Title}}</h1>
        <aside id="meta">
            <div>
                <section>
                    <h4 id="date"><span class="icon-access_time mr-1"></span>{{ .Date.Format "2006/01/02" }} </h4>
                </section>
                {{ with .Params.tags }}
                <div id="tags">
                    <span class="icon-local_offer mr-1"></span>
                    {{ range . }}
                    <a href="{{ " tags" | absURL }}/{{ . | urlize }}">{{ . }}</a> |
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </aside>
        {{ if .Params.image }}
        <img class="my-4" src="{{ .Params.image | absURL }}">
        {{ end }}
        <div class="content">{{.Content}}</div>
        <hr class="py-2">
        <aside id="meta">
            {{ with .Params.categories }}
            <div id="categories">
                <span class="icon-folder text-xl mr-1"></span>
                {{ range . }}
                <span
                    class="inline-flex py-2 leading-4 mr-2 mb-2 content-center bg-gray-200 justify-center h-8 px-3 text-blue-500 hover:text-black"><a
                        href="{{ " categories" | absURL}}/{{ . | urlize }}">{{ . }}</a></span>
                {{ end }}
            </div>
            {{ end }}
            <div class="grid grid-cols-2">
                <div class="col-span-1">
                    {{ with .PrevInSection }}
                    <a class="previous lg:text-2xl" href="{{.Permalink}}">
                        <div class="bg-gray-200 h-auto m-3 text-center py-3 lg:py-1">
                            &lt; {{.Title}}
                        </div>
                    </a>
                    {{ end }}
                </div>
                {{ with .NextInSection }}
                <a class="next lg:text-2xl" href="{{.Permalink}}">
                    <div class="col-span-1 bg-gray-200 h-auto m-3 text-center py-3 lg:py-1">
                        {{.Title}} &gt;
                    </div>
                </a>
                {{ end }}
            </div>
        </aside>
        <hr class="py-2">
        <div class="mb-3">
            {{ template "_internal/disqus.html" . }}
        </div>
    </div>
    <div class="hidden lg:block lg:col-span-1">
        <div class="bg-white panel mb-3">
            <p class="text-xl text-center text-gray-700 py-3 pl-3">Archives</p>
            {{ if eq .Site.Params.archive_dropdown "false" }}
            {{ range $name, $items := .Site.Taxonomies.archives }}
            <a class="text-center block py-2 px-4 text-gray-800"
                href="{{ $.Site.BaseURL }}/archives/{{ $name | urlize | lower }}">{{ $name }} ({{ .Count }})</a>
            {{ end }}
            {{ else }}
            <select class="text-center block py-2 px-4 duration-100 bg-white hover:bg-gray-200 text-gray-800 w-full"
                name="archive" onChange="location.href=value;">
                <option>Select Archive...</option>
                {{ range $name, $items := .Site.Taxonomies.archives }}
                <option value="{{ $.Site.BaseURL }}/archives/{{ $name | urlize | lower }}">{{ $name }} ({{ .Count }})
                </option>
                {{ end }}
            </select>
            {{ end }}
        </div>

        {{ if .Site.Taxonomies.categories }}
        <div class="bg-white panel mb-3 pb-5">
            <p class="text-xl text-center text-gray-700 py-5">Categories</p>
            {{ range $key, $value := .Site.Taxonomies.categories }}
            <a class="text-center block duration-100 py-2 px-4 mx-4 hover:bg-gray-100 text-gray-800"
                href="{{ $.Site.BaseURL }}/categories/{{ $key | urlize  }}">{{ $key | humanize }}</a>

            {{ end }}
        </div>
        {{ end }}
        {{ if .Site.Taxonomies.tags }}
        <div class="bg-white panel mb-3">
            <p class="text-xl text-center text-gray-700 py-3 pl-3">Tags</p>
            <div class="panel-block p-2">
                {{- range $termName, $entries := .Site.Taxonomies.tags }}
                <a href="{{ " /tags/" | relLangURL }}{{ $termName | urlize }}">
                    <span
                        class="duration-100 inline-flex py-2 leading-4 mr-2 mb-2 content-center bg-gray-100 justify-center h-8 px-3 text-blue-500 hover:text-blue-900">
                        {{ $termName }}
                    </span></a>
                {{- end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}