.pagination {
  display: flex;
  list-style: none;
  border-radius: 0.25rem;
  margin: 20px 0;
  padding: 0;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.75rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
  background-color: #fff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.hover4 {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.hover4:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.content li {
  list-style: inside;
  padding-top:0.25rem;
  padding-bottom:0.25rem;
}

.content a {
  color: #007bff
}

.content a:hover {
  text-decoration: underline;
}

.content p {
  padding-top:0.25rem;
  padding-bottom:0.25rem;
}

.cp_iptxt {
	position: relative;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	letter-spacing: 1px;
	border: 0;
}
.cp_iptxt textarea {
  font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	letter-spacing: 1px;
	border: 0; 
}
.cp_iptxt input[type='text']:focus {
  outline: none;
}
.cp_iptxt input[type='text']:focus::after {
	outline: none;
}
.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #2d3748;
}