@font-face {
  font-family: material-icons;
  src: url(../fonts/material-icons.ttf?xdbxjz) format('truetype'),
    url(../fonts/material-icons.woff?xdbxjz) format('woff'),
    url(../fonts/material-icons.svg?xdbxjz#material-icons) format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
[class*=' icon-'],
[class^='icon-'] {
  font-family: material-icons !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-email:before {
  content: '\e902';
}
.icon-message:before {
  content: '\e900';
}
.icon-create:before {
  content: '\e901';
}
.icon-send:before {
  content: '\e906';
}
.icon-access_time:before {
  content: '\e903';
}
.icon-sun:before {
  content: '\e90b';
}
.icon-folder:before {
  content: '\e907';
}
.icon-keyboard_arrow_left:before {
  content: '\e904';
}
.icon-keyboard_arrow_right:before {
  content: '\e905';
}
.icon-moon:before {
  content: '\e90c';
}
.icon-local_offer:before {
  content: '\e908';
}
.icon-menu:before {
  content: '\e909';
}
.icon-person:before {
  content: '\e90a';
}

/* content */
input,
textarea {
  -webkit-appearance: none;
}
