{{ define "header_css" }}{{ end }}

{{ define "main" }}
<div class="grid grid-cols-3 gap-4">
  <div class="col-span-3 lg:col-span-2 mb-3">
    <h2 class="text-4xl">{{if not .IsHome}}{{ humanize .Title }}{{end}}</h2>
    {{if .IsHome}}
    {{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections) (.Site.Params.paginator_pages) )}}
    {{else}}
    {{.Scratch.Set "Paginator" .Paginator}}
    {{end}}
    {{$paginator:=(.Scratch.Get "Paginator")}}
    {{ range $paginator.Pages }}
    <a href="{{.RelPermalink}}">
      {{ .Render "summary" }}
    </a>
    {{ end }}
    {{ partial "paginator.html" . }}
  </div>
  <div class="hidden lg:block lg:col-span-1">
    {{ partial "widgets/search.html" . }}
    {{ partial "widgets/archive.html" . }}
    {{ partial "widgets/category.html" . }}
    {{ partial "widgets/tags.html" . }}
    {{ partial "widgets/recent.html" . }}
  </div>
</div>
{{ end }}
