<div class="w-full px-2 lg:max-w-full lg:flex mt-3 lg:px-0 hover4">
    {{ if .Params.image }}
    <img alt="thumbnail" id="thumb" class="lg:{{ .Site.Params.post.thumbnail_width }} lg:{{ .Site.Params.post.thumbnail_height }}" src="{{ .Params.image | relURL }}" />
    {{ else }}
    <img alt="thumbnail" id="thumb" class="lg:{{ .Site.Params.post.thumbnail_width }} lg:{{ .Site.Params.post.thumbnail_height }}" src="{{ "/img/default.jpg" | relURL }}">
    {{ end }}
    <div
        class="bg-white pl-4 p-2 justify-between leading-normal max-w-full w-full">
            <p class="text-sm text-gray-600 flex items-center">
                <time><span class="icon-access_time mr-1"></span>{{.Date.Format "2006/01/02"}}</time>
            </p>
            <div class="text-gray-900 font-bold text-xl mb-2">{{.Title}}</div>
            <p class="text-gray-700 text-base">{{ substr .Summary 0 130 | plainify }}...</p>
    </div>
</div>
