<div class="bg-gray-800">
    <div class="container mr-auto ml-auto">
        <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
            <div class="flex items-center flex-no-shrink bg-gray-800 text-white mr-6">
                <a href="{{ .Site.BaseURL }}"><span
                        class="font-semibold text-2xl tracking-tight">{{ .Site.Title }}</span></a>
            </div>
            <div class="flex md:hidden">
                <div class="py-2">
                    <a id="dark-mode-toggle-1" href="javascript:void(0);" class="no-underline text-white mr-1"><span
                            id="dark-mode-toggle-icon1"
                            class="icon-moon inline-flex align-middle leading-normal text-lg mr-1" aria-label="Darkmode Toggle Button"></span></a>
                    <span class="text-gray-300">|</span>
                </div>
                <button id="hamburgerbtn"
                    class="flex items-center px-3 py-1 text-gray-300 hover:text-white">
                    <span class="icon-menu text-2xl" aria-label="Hamburger Button"></span>
                </button>
            </div>
            <div class="hidden w-full md:flex md:flex-row sm:items-center md:w-auto" id="mobileMenu">
                <div class="text-sm lg:flex-grow">
                </div>
                <div class="navmenu">
                    {{ range .Site.Menus.main }}
                    <a href="{{ .URL }}"
                        class="no-underline block mt-4 sm:inline-block sm:mt-0 text-gray-400 hover:text-white mr-4">
                        {{ .Name }}
                    </a>
                    {{ end }}
                </div>
                <div class="text-gray-400 invisible md:visible">
                    <span>|</span>
                    <a id="dark-mode-toggle-2" href="javascript:void(0);" class="no-underline hover:text-white"><span
                            id="dark-mode-toggle-icon2"
                            class="icon-moon inline-flex align-middle leading-normal text-lg ml-2"></span></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<style>
    .active {
        display: block;
    }
</style>
<script>
    let hamburger = document.getElementById('hamburgerbtn');

    let mobileMenu = document.getElementById('mobileMenu');

    hamburger.addEventListener('click', function () {
        mobileMenu.classList.toggle('active');
    });
</script>
